/*=====Add Button=====*/
.button {
    position: relative;
    color: #272932;
    padding: 16px;
    cursor: pointer;
    width: 200px;
    height: 300px;
    font-size: 24px;
    font-weight: bold;
    border: 4px solid #272932;
    background-color: #27293293;
    border-radius: 32px;
    margin-left: 1rem;
    margin-bottom: 4px;
}
.button.selected {
    background-color: #272932;
    color: #90a8c3;
}
.remove,
.edit {
    text-decoration: none;
    margin-left: 1rem;
    cursor: pointer;
    font-weight: 600;
    border-radius: 20px;
    margin: 4px 16px;
    padding: 10px;
    font-size: 20px;
    width: 100%;
}
.remove {
    color: #90a8c3;
    background-color: #272932;
}
.edit {
    color: #272932;
    background-color: #90a8c3;
}
/*=====Banners=====*/
.header {
    background-color: #272932;
    color: #90a8c3;
    font-size: 40px;
    font-weight: bold;
    padding: 0;
    display: flex;
    justify-content: center;
    margin-bottom: 16px;
}
.footer {
    color: #272932;
    background-color: #90a8c3;
    font-size: 14px;
    padding: 12px;
    font-style: oblique;
    margin-top: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-top: 100px;
}
/*=====Book card=====*/
.card {
    width: 200px;
    height: 300px;
    position: relative;
    align-items: center;
    border: 4px solid #272932;
    border-radius: 32px;
    text-align: center;
    margin-bottom: 6px;
}

.bk-price {
    color: #272932;
    font-weight: 500;
    font-size: 16px;
    margin-top: 0;
    margin-bottom: 16px;
}
.learn,
a {
    text-decoration: none;
    color: #90a8c3;
    background-color: #272932;
    cursor: pointer;
    font-weight: 600;
    border-radius: 20px;
    margin: 4px 8px 0;
    padding: 10px;
}
.cardImg {
    max-width: 200px;
}
.card.darkened {
    background-color: #27293293;
}

/*=====Form Styles=====*/

.form-container {
    color: #272932;
    padding: 0 2em;
    display: grid;
    justify-content: center;

    > form {
        padding: 2em;
    }

    .form-control {
        label {
            display: inline-block;
            width: 10em;
        }
        input {
            border-radius: 8px;
            border: 1px solid #272932;
            padding: 4px 6px;
        }
        margin: 1em 0;
    }
}
.save {
    color: #90a8c3;
    background-color: #272932;
    padding: 12px;
    border: none;
    border-radius: 8px;
    font-size: 20px;
    width: 30%;
    text-align: center;
    font-weight: bold;
    margin-left: 6.5rem;
}
dialog::backdrop {
    background: rgb(0, 0, 0, 0.5);
    backdrop-filter: blur(4px);
}
dialog {
    border: 6px solid #272932;
    border-radius: 16px;
}
/*=====Filter=====*/

.filter {
    margin-left: 1rem;
}

.filter select {
    font-size: 14px;
    font-weight: 600;
    color: #272932;
    background-color: #90a8c3;
    border: 2px solid #272932;
    border-radius: 12px;
    padding: 4px 16px;
}
